<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>incluirdados</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="voltar()">
        <ion-icon name="arrow-back-circle-outline">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">incluirdados</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-input [(ngModel)]="dados.nome" placeholder="Nome"></ion-input>
  <ion-input [(ngModel)]="dados.endereco" placeholder="endereco"></ion-input>
  <ion-input [(ngModel)]="dados.telefone" placeholder="Telefone"></ion-input>

  <ion-button (click)="incluir()">Gravar</ion-button>
</ion-content>